<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>송장 번호 조회</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">송장 번호 조회</h1>
        <form action="/result/" method="post" class="mb-3">
            <div class="mb-3">
                <label for="user_input" class="form-label">송장 번호 입력:</label>
                <input type="text" id="user_input" name="user_input" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <div id="reader" class="form-control form-control-lg"></div>
    <p id="error-message" style="color: red; display: none;"></p>
    
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            console.log(`QR 코드 스캔 성공: ${decodedText}`);
            // QR 코드 값을 폼의 텍스트 인풋에 자동 입력
            document.getElementById("user_input").value = decodedText;
            // 스캐너 중지
            html5QrcodeScanner.clear();
            // 폼 자동 제출
            document.querySelector("form").submit();
        }

        function onScanFailure(error) {
            document.getElementById("error-message").innerText = `QR error: ${error}`;
            document.getElementById("error-message").style.display = "block";
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 30, qrbox: 300 });
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
</body>
</html>
